<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>helloapp</display-name>
	<welcome-file-list>
		<welcome-file>login.htm</welcome-file>
	</welcome-file-list>
	
	
	<context-param>
	<param-name>emailofwebmaster</param-name>
	<param-value>test@163.com</param-value>
	</context-param>
	
	<listener>
	<listener-class>mypack.MyServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>mypack.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/dispatcher</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Font</servlet-name>
		<servlet-class>mypack.FontServlet</servlet-class>
		<init-param>
			<param-name>color</param-name>
			<param-value>blue</param-value>
		</init-param>
		<init-param>
			<param-name>size</param-name>
			<param-value>15</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>Font</servlet-name>
	<url-pattern>/font</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>ContextTest</servlet-name>
	<servlet-class>mypack.ContextTestServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	<servlet-name>LifeInit</servlet-name>
	<servlet-class>mypack.LifeServlet</servlet-class>
	<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
	<servlet-name>Life</servlet-name>
	<servlet-class>mypack.LifeServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>ExceptionTest</servlet-name>
	<servlet-class>mypack.ExceptionTestServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>Counter</servlet-name>
	<servlet-class>mypack.CounterServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>ExpiresTest</servlet-name>
	<servlet-class>mypack.ExpiresTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>ExpiresTest</servlet-name>
	<url-pattern>/ExpiresTest</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	<servlet-name>Counter</servlet-name>
	<url-pattern>/Counter</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
	<servlet-name>Life</servlet-name>
	<url-pattern>/life</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	<servlet-name>LifeInit</servlet-name>
	<url-pattern>/LifeInit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>ContextTest</servlet-name>
	<url-pattern>/ContextTest</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	<servlet-name>ExceptionTest</servlet-name>
	<url-pattern>/excep</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>DownloadServlet</servlet-name>
	<servlet-class>mypack.DownloadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>DownloadServlet</servlet-name>
	<url-pattern>/Download</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>upload</servlet-name>
	<servlet-class>mypack.UploadServlet</servlet-class>
	<init-param>
	<param-name>filepath</param-name>
	<param-value>store</param-value>
	</init-param>
	
	<init-param>
	<param-name>tempFilePath</param-name>
	<param-value>temp</param-value>
	</init-param>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>upload</servlet-name>
	<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>Cookie</servlet-name>
	<servlet-class>mypack.CookieServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>Cookie</servlet-name>
	<url-pattern>/Cookie</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<taglib>
			<taglib-uri>/mytaglib</taglib-uri>
			<taglib-location>/WEB-INF/mytaglib.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>